.winnerWrapper {
  flex-direction: column;
  text-align: center;
}

.winnerWrapper > h1 {
  font-size: 10rem;
}
.winnerWrapper > span {
  cursor: pointer;
}

.button {
  font-size: 2rem;
  height: 10rem;
  width: 10rem;
  border: none;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 7px 7px 12px #e6e6e6, -7px -7px 12px #ffffff;
  cursor: pointer;
}

.button:active {
  border-radius: 50%;
  background: #ffffff;
  box-shadow: inset 7px 7px 12px #e6e6e6, inset -7px -7px 12px #ffffff;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
